/*------------------------------------*\
  CARD STYLES
\*------------------------------------*/

.card {
  border: 1px solid #ddd;
  border-bottom-width: 3px;
  width: 28%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 2%;
  float: left;
  background-color: #fcfcfc;
}
