/* ===========================================================================*\
    Landing Container
\* ===========================================================================*/

.landing {
    background: linear-gradient(aqua, lightgreen); 
    height: 100vh;
    color: white;
    padding: 30px;
}