/* ===========================================================================*\
    FONTS
\* ===========================================================================*/

@font-face {
    font-family: moderna;
    src: url(MODERNA.ttf);
    font-weight: bold;
}
